<div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
    <div *ngFor="let user of usersList" class="p-3 bg-white rounded-xl border border-gray-600 shadow-xl">
       <div class="name text-sm font-bold uppercase">{{user.name}}</div>
       <div class="name text-xs font-bold uppercase text-sky-950 my-2">{{user.company['name']}}</div>
       <div class="userInfo">
        <div class="info text-xs text-sky-950">{{user.email}}</div>
        <div class="info text-xs text-sky-950">{{user.phone}}</div>
        <div class="info text-xs text-sky-950">{{user.website}}</div>
       </div>
       <div class="flex my-2 justify-end">
        <button class="p-1 px-3 text-xs bg-gray-800 text-white rounded-xl" [routerLink]="'/profile/'+user.id">More Details</button>
    </div>
    </div>

   
</div>